/* Search Widget */

.search-form{
    position: relative;
}

.input.search-input{
    margin: 0;
}

.btn-search{
    color: var(--mainColor);
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 16px;
}